{% extends "base.html"%}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center hero cover">
    <div class="container">
      <div class="row" >
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          
          <h1>Bem-vindo a Comunidade Ativa </h1>
          <h2>Conheça a Comunidade Ativa e descubra o que podemos fazer para que sua empresa cresça e se destaque no mercado de trabalho.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Saiba Mais </a>
            <a href="https://www.youtube.com/watch?v=6_yts56nomM&ab_channel=BancodaAmaz%C3%B4nia" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assistir Video</span></a>
          </div>
        </div>
        
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <!-- 
          -->
            <img src="{% static 'assets/img/amazoncred-img-1.png' %}" class="img-fluid animated" >
        </div>
      
      </div>
    </div>
  </section>

  <!-- End Hero Section -->
  
  <main id="main">
    {% include 'partials/_sobre-nos.html' %}

    {% include 'partials/_clientes.html' %}

    {% include 'partials/_estatisticas.html' %}

    {% include 'partials/_call_to_action.html' %}

    {% include 'partials/noticias/_recent_blog_posts.html' %}    

  </main><!-- End #main -->
  
{% endblock content %}