{% load static %}
<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Sobre Nós</h2>
        <p>A AmazonCred tem a satisfação de convidá-los para comemorar os 15 anos de existência e 14 anos de atuação do programa Amazônia Florescer.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          {% comment %} <h3> Seja Bem-vindo </h3> {% endcomment %}
          <img src="{% static 'assets/img/sobre.png' %}" class="img-fluid rounded-4 mb-4" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptatibus, maxime placeat provident autem nostrum temporibus, ullam impedit nisi ut laboriosam est natus. In sed officiis sequi temporibus doloribus aperiam.</p>
          
        </div>

        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic"> A Comunidade Ativa tem como missão "promover o desenvolvimento sustentável com equidade social e econômica para os empreendedores populares da região da Amazônia legal".</p>
            </p>
{% comment %}             <ul>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul> {% endcomment %}
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos amet facilis debitis nemo hic est molestiae, ipsa laudantium incidunt tempore suscipit necessitatibus quis, omnis nobis. Provident molestiae quaerat vitae sequi!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro consequuntur rem cum illum quaerat fuga, velit ut dolore, praesentium consequatur ullam quod officiis iure non libero veritatis adipisci suscipit provident. 

            </p>

            <div class="position-relative mt-4">
              <img src="{% static 'assets/img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->