
{% load widget_tweaks %}

<h2>{{titulo}} </h2>

<form hx-post="{% url 'amazoncred:novo_relatorio' %}" 
      hx-target="#tab-contents" enctype="multipart/form-data">      
  {% csrf_token %}

  {% for field in form.visible_fields %}
  
    <div class="form-group mt-3 mb-3 d-flex row">
        <div class="label-class col-sm-2 text-start text-sm-end">
          <label class="col-form-label " for="{{ field.id_for_label}}">
            {{field.label}}</label>
          </div>
        <div class="d-inline-flex flex-row col-sm-8">
          
          {{field|add_class:'form-control'}}
            

          {% if field.errors %}
            <span style="color: red;" role="alert">
                {{field.errors}}   
            </span>
            {% endif %}
          </div>
          <small class="form-text text-muted d-flex justify-content-center">{{ field.help_text }}</small>
        </div>
        {% endfor %}
      <input type="hidden" value="{{tipo}}" name='tipo'>
      <input type="hidden" value="{{id}}" name='id'>
    
      
      <div class="d-flex justify-content-end">
        <div class="align-self-end mt-1"> 
          <button class="btn btn-success">Enviar</button>
          <button class="btn btn-secondary" 
                  hx-get="{% url 'amazoncred:tab' %}?tipo={{tipo}}"
                  hx-trigger='click' 
                  hx-indicator="#indicator"
          
          
          >Cancelar</button>
      </div>
  </div>

</form>